# Ignore EVERYTHING by default
**

# Only allow the JARs and Dockerfiles that builds actually need
!*/Dockerfile
!users-service/target/*.jar
!orders-service/target/*.jar
!catalog-service/target/*.jar
!payments-service/target/*.jar
!deliveries-service/target/*.jar
!api-gateway/target/*.jar
